# I needed to install xsel
[Unit]
Description=Front-end
After=network.target

[Service]
#Cleaning command: docker compose down && docker container stop $(docker container ls -aq) && docker container rm $(docker container ls -aq) && docker system prune -af
ExecStart=/usr/bin/node /usr/bin/serve -s build

User=ubuntu
WorkingDirectory=/home/ubuntu/v045_ec2/applications/simulation/code/frontend/dashboard-version_0.2.0 2
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target
